@import url(https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap);

:root {
    --primary-color: #004289;
    --secondary-color: #007bff;
    --logo-color: #ed4747;
    --white-color: #fff;
    --shadow-color: #7f89a19a;
    --black-color: #000;
    --text-color: #222;
    --background-color: #004a99;
    --secondary-bg-color: #bbd5f1;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0
}

html {
    font-size: 62.5%;
    line-height: 1.3;
    scroll-behavior: smooth
}

body {
    background: var(--white-color);
    color: var(--text-color);
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    overflow-x: hidden
}

ul li {
    list-style-type: none
}

a {
    text-decoration: none;
    text-transform: capitalize
}