/*-----------------------------------
    PC low & Tablet large resolution
-----------------------------------*/
@media (min-width: 992px) and (max-width: 1199px) {
    .navbar.row {
        padding: 0 20px;
    }
}

/*-----------------------------------
<= Tablet resolution 
-----------------------------------*/
@media (max-width: 1199px) {

    /* banner */
    .banner .row {
        flex-direction: column-reverse;
    }

    .banner-content h1 {
        font-size: 45px;
        text-align: center;
    }

    .link-btn {
        text-align: center;
    }
}

@media (max-width: 991px) {

    /* header */
    .header.sticky {
        padding: 15px 0;
    }

    .header {
        height: 68px;
        border-radius: unset;
        -webkit-border-radius: unset;
        -moz-border-radius: unset;
        -ms-border-radius: unset;
        -o-border-radius: unset;
    }

    /* mobile nav */
    .nav-left .homepage {
        font-size: 30px;
        position: absolute;
        left: 7%;
        top: 25%;
    }


    .mobile-nav ul.row {
        display: unset;
    }

    .mobile-nav-toggle {
        right: 7%;
        top: 3%;
    }

    .mobile-nav-toggle i {
        margin: unset;
    }

    /* banner */
    .banner {
        padding: 120px 0;
    }

    .banner-content h1 {
        font-size: 35px;
    }

    /* about us */
    p.sub-content {
        padding: 0 30px;
    }

    .about-us .container .row:nth-child(3),
    .about-us .container .row:nth-child(5) {
        flex-direction: column-reverse;
    }

    h2.secondary-title {
        text-align: center;
    }

    h2.secondary-title+p {
        text-align: justify;
    }

    .icon i {
        width: 60px;
        height: 60px;
        line-height: 60px;
        font-size: 22px;
    }

    /* services */
    .solution-category_items--content h2,
    .services-items_content h2 {
        font-size: 17px;
    }

    /* why choose us */

}

/*------------------------------------
    Tablet
----------------------------------*/
@media (min-width: 768px) and (max-width: 991px) {

    /* services */
    .services-items {
        height: 200px;
    }
}

/*------------------------------------
    Mobile & Mobile landscape
----------------------------------*/
@media (max-width: 767px) {

    /* mobile nav */
    .mobile-nav {
        width: 185px;
    }

    /* banner */
    .banner-content h1 {
        font-size: 30px;
    }

    .link-btn a {
        display: block;
        width: 300px;
        margin: 15px auto !important;
    }

    /* testimonial */
    .testimonials-items_img {
        width: 120px;
    }

    /* contact us */
    .col.contact {
        padding-left: unset;
        text-align: center;
    }

    .contact-info {
        margin: 20px 0 10px 0;
    }

    .contact-form .col:first-child input {
        width: 100%;
    }

    /* footer */
    .footer {
        text-align: center;
    }

}

@media (max-width:575px) {

    /* our portfolio */
    .nav-portfolio li {
        padding: 10px;
    }

    .portfolio-items .portfolio-wrap {
        top: unset !important;
        right: unset !important;
        left: unset !important;
        margin-top: 20px;
    }

    /* teams */
    .teams-content {
        font-size: 12px;
    }

    .social i {
        font-size: 16px;
    }
}