/* Prelaoder */
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    overflow: hidden;
    background: #fff;
}

#preloader:before {
    content: "";
    position: fixed;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    border: 6px solid #f2f2f2;
    border-top: 6px solid #007bff;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    -webkit-animation: animate-preloader 1s linear infinite;
    animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes animate-preloader {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

/* -------- general styling ------*/

section {
    padding: 60px 0;
}

/* ----- go back homepage btn styling -- */
.scroll-up-btn {
    position: fixed;
    right: 30px;
    bottom: 75px;
    z-index: 99;
    width: 45px;
    height: 45px;
    line-height: 45px;
    cursor: pointer;
    opacity: 0;
    background: var(--secondary-color);
    color: var(--white-color);
    text-align: center;
    font-size: 30px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease
}

.scroll-up-btn.show {
    bottom: 95px;
    opacity: 1
}

.scroll-up-btn:hover {
    box-shadow: 0 0 20px var(--shadow-color)
}

/* header styling */
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    padding: 15px 0;
    height: 75px;
    background: var(--white-color);
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    border-radius: 0 0 40px 40px;
    -webkit-border-radius: 0 0 40px 40px;
    -moz-border-radius: 0 0 40px 40px;
    -ms-border-radius: 0 0 40px 40px;
    -o-border-radius: 0 0 40px 40px;
}

.header.sticky {
    height: 64px;
    padding: 10px 0;
    box-shadow: 0 0 30px var(--shadow-color);
}

.navbar.row {
    justify-content: space-between;
    align-items: center;
}

.nav-left .homepage {
    display: block;
}

.nav-left .homepage {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 35px;
    font-weight: bold;
}

.header.sticky .nav-left .homepage span:first-child {
    color: var(--logo-color);
    transition: color 0.3s ease-in-out;
    -webkit-transition: color 0.3s ease-in-out;
    -moz-transition: color 0.3s ease-in-out;
    -ms-transition: color 0.3s ease-in-out;
    -o-transition: color 0.3s ease-in-out;
}

.header.sticky .nav-left .homepage span:last-child {
    color: var(--secondary-color);
    transition: color 0.3s ease-in-out;
    -webkit-transition: color 0.3s ease-in-out;
    -moz-transition: color 0.3s ease-in-out;
    -ms-transition: color 0.3s ease-in-out;
    -o-transition: color 0.3s ease-in-out;
}

.nav-left .homepage span:first-child {
    color: var(--secondary-color);
}

.nav-left .homepage span:last-child {
    color: var(--logo-color);
}

.nav-right>ul>li {
    position: relative;
}

.nav-right ul li a {
    display: block;
    padding: 5px 15px;
    color: var(--primary-color);
    transition: color 0.3s ease-in-out;
    -webkit-transition: color 0.3s ease-in-out;
    -moz-transition: color 0.3s ease-in-out;
    -ms-transition: color 0.3s ease-in-out;
    -o-transition: color 0.3s ease-in-out;
}

.nav-right>ul>li>a:hover {
    color: var(--secondary-color);
}

.nav-right ul li.active>a {
    color: var(--secondary-color);
}

.nav-right .drop-down>a::after {
    content: "\f107";
    font-family: FontAwesome;
    padding-left: 10px;
}

.drop-down>ul {
    display: block;
    position: absolute;
    width: 150px;
    top: 80px;
    left: 0px;
    background: var(--white-color);
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.drop-down:hover ul {
    opacity: 1;
    visibility: visible;
    top: 40px;
}

.drop-down>ul>li>a {
    display: block;
    padding: 10px 15px;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.drop-down>ul>li>a:hover {
    color: var(--white-color);
    background: var(--secondary-color);
}

/* Mobile Navigation */

.mobile-nav {
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 9999;
    overflow-y: auto;
    left: -260px;
    width: 260px;
    padding-top: 18px;
    background: rgba(19, 39, 57, 1);
    transition: 0.4s;
}

.mobile-nav * {
    margin: 0;
    padding: 0;
    list-style: none;
}

.mobile-nav a {
    display: block;
    position: relative;
    color: var(--white-color);
    padding: 10px 20px;
    font-weight: 500;
}

.mobile-nav a:hover,
.mobile-nav .active>a,
.mobile-nav li:hover>a {
    color: var(--secondary-color) !important;
    text-decoration: none;
    background: unset !important;
}

.mobile-nav .drop-down>a i {
    padding-left: 10px;
    position: absolute;
    right: 15px;
}

.mobile-nav .active.drop-down>a i::before {
    content: "\f106";
}

.mobile-nav .drop-down>a {
    padding-right: 35px;
}

.mobile-nav .drop-down ul {
    display: none;
    overflow: hidden;
    opacity: unset;
    visibility: unset;
    position: unset;
    background: unset;
    transition: unset;
    -webkit-transition: unset;
    -moz-transition: unset;
    -ms-transition: unset;
    -o-transition: unset;
}

.mobile-nav .drop-down li {
    padding-left: 20px;
}

.mobile-nav-toggle {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 9998;
    border: 0;
    background: none;
    font-size: 24px;
    transition: all 0.4s;
    outline: none !important;
    line-height: 1;
    cursor: pointer;
    text-align: right;
}

.mobile-nav-toggle i {
    margin: 18px 18px 0 0;
    color: var(--primary-color);
}

.mobile-nav-overly {
    width: 100%;
    height: 100%;
    z-index: 9997;
    top: 0;
    left: 0;
    position: fixed;
    background: rgba(19, 39, 57, 0.8);
    overflow: hidden;
    display: none;
}

.mobile-nav-active {
    overflow: hidden;
}

.mobile-nav-active .mobile-nav {
    left: 0;
}

.mobile-nav-active .mobile-nav-toggle i {
    color: var(--white-color);
}

/* banner styling */
.banner {
    background: url(../img/logo/intro-bg.png) center bottom no-repeat;
    width: 100%;
    position: relative;
    background-size: cover;
    padding: 200px 0;
}

.banner-content h1 {
    font-size: 50px;
    color: var(--white-color);
    line-height: 1.2;
}

.banner-content h1 span {
    color: var(--secondary-color);
}

.banner-intro img {
    width: 100%;
    height: auto;
}

.link-btn a {
    display: inline-block;
    padding: 10px 30px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    border: 2px solid var(--white-color);
    color: var(--white-color);
    font-weight: bold;
    margin-top: 20px;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.link-btn a:first-child {
    border: 2px solid var(--secondary-color);
    background: var(--secondary-color);
}

.link-btn a:first-child:hover {
    border: 2px solid var(--white-color);
    background: unset;
}

.link-btn a:last-child {
    margin-left: 20px;
}

.link-btn a:last-child:hover {
    border: 2px solid var(--secondary-color);
    background: var(--secondary-color);
}

/* about us */
.about-us .row {
    align-items: center;
    padding: 20px 0;
}

h1.headline {
    text-align: center;
    padding: 10px 0 20px 0;
}

p.sub-content {
    text-align: center;
    padding: 0px 150px 20px;
}

p.solution-title {
    text-align: center;
}

.solution-category_items,
.services-items {
    display: flex;
    align-items: center;
}

.icon i {
    width: 70px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    font-size: 25px;
    border: 2px solid var(--secondary-color);
    color: var(--secondary-color);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.solution-category_items:hover i,
.services-items:hover i {
    color: var(--white-color);
    background: var(--secondary-color);
}

.solution-category_items--content,
.services-items_content {
    margin-left: 20px;
    padding: 10px 0;
}

h2.secondary-title {
    padding: 10px 0;
}

.solution-category_items--content h2,
.services-items_content h2 {
    padding: 5px 0;
    transition: color 0.3s ease;
    -webkit-transition: color 0.3s ease;
    -moz-transition: color 0.3s ease;
    -ms-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
}

.solution-category_items:hover h2,
.services-items:hover h2 {
    color: var(--secondary-color);
}

.solution-category_items--content p,
.services-items_content p {
    text-align: justify;
}

.solution-img img {
    width: 100%;
    height: auto;
}

/* services styling */
.services {
    background: var(--services-color);
}

.services .row {
    justify-content: center;
}

.services-items {
    height: 170px;
    background: var(--white-color);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    margin-top: 30px;
    padding: 5px 15px;
    position: relative;
    top: 0;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.services-items:hover {
    top: -15px;
}

.services-items_content h2 {
    font-size: 20px;
}

.services-items_content p {
    padding-right: 20px;
}

/* why choose us styling */
.why-choose-us {
    color: var(--white-color);
    background: var(--primary-color);
}

.why-choose-us .row {
    justify-content: center;
}

.choose-us_card {
    text-align: center;
    background: var(--why-us-color);
    border-color: var(--why-us-color);
    padding: 20px;
    border-radius: 20px;
    margin-top: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.choose-us_card i {
    font-size: 40px;
    padding: 10px 0;
}

.choose-us_card .sub-title {
    padding: 5px 0;
}

.choose-us_card p {
    text-align: justify;
    padding: 5px 0;
}

.choose-us_card .read-more {
    display: inline-block;
    color: var(--white-color);
    font-weight: bold;
    position: relative;
}

.read-more::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 2px;
    opacity: 0;
    visibility: hidden;
    background: rgba(255, 255, 255, 0.322);
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

.choose-us_card:hover .read-more::after {
    opacity: 1;
    visibility: visible;
}

.read-more:hover::after {
    background: var(--white-color);
}

.choose-us_card:hover {
    background: var(--why-us-color-hv);
}

.choose-us_info span {
    display: block;
    font-size: 45px;
    font-weight: bold;
    text-align: center;
    padding: 50px 0 10px;
}

.choose-us_info p {
    text-align: center;
}

/* portfolio */
.nav-portfolio {
    margin-bottom: 30px;
}

.nav-portfolio ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-portfolio li {
    color: var(--primary-color);
    background: var(--nav-portfolio);

    display: inline-block;
    cursor: pointer;

    margin-right: 10px;
    padding: 10px 30px;

    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;

    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.nav-portfolio li.active {
    background: var(--secondary-color);
    color: var(--white-color);
}

.portfolio-items {
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
}

.portfolio-items img {
    display: block;
    max-width: 100%;
    height: auto;
}

.portfolio-items .portfolio-wrap {
    background: none;
    position: relative;
    overflow: hidden;

    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;

    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.portfolio-items:hover .portfolio-wrap {
    background: var(--primary-color);
}

.portfolio-items:hover img {
    opacity: 0.4;

    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.portfolio-info {
    position: absolute;
    top: 50%;
    left: 50%;

    opacity: 0;

    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);

    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.portfolio-items:hover .portfolio-info {
    opacity: 1;
}


.portfolio-info h4,
.portfolio-info p {
    color: var(--white-color);
    text-align: center;
    padding: 2px 0;
}

.portfolio-info i {
    color: var(--white-color);
    background: var(--secondary-color);

    width: 40px;
    height: 40px;

    margin: 5px;
    font-size: 20px;
    line-height: 40px;
    text-align: center;

    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;

    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.portfolio-info i:hover {
    filter: brightness(1.3);
    -webkit-filter: brightness(1.3);
}

/* Testimonials */
.testimonials {
    background: var(--nav-portfolio);
}

.testimonials .row {
    justify-content: center;
}

.testimonials-items {
    display: flex;
    align-items: center;
    justify-content: center;
}

.testimonials-items_img {
    width: 250px;
    height: auto;

    margin-right: 20px;
}

.testimonials-items_img img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.testimonials-items h4 {
    color: var(--testi-info);
    font-weight: normal;
}


.testimonials .owl-nav,
.testimonials .owl-dots {
    margin-top: 5px;
    text-align: center;
}

.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev,
.owl-carousel button.owl-dot {
    display: inline-block;
    margin: 0 5px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: var(--logo-color);
}

.testimonials .owl-dot.active {
    background-color: var(--secondary-color);
}